{% extends  'recruiter/recruiter_navigation.html' %}
{%block body %}

<div class="sub-banner">
    <div class="container">


        <div class="breadcrumb-area">
            <h1>Candidate Applied</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <!-- <li class="active">{{user}} Logged In</li> -->
            </ul>
        </div>

    </div>
</div>

{%for msg in messages%}
<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}

<h1 class="mt-5"></h1>
<div class="container">
    <table class="table" >
        <thead>
          <tr style="color:white;background-color: brown;text-align:center">
            <th >S.NO.</th>
            <th >NAME</th>
            <th >Email</th>
            <th>CONTACT</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Apply Date</th>
            <th>Resume</th>
          
          </tr>
        </thead>
        <tbody>
            {% for i in appliedjobs%}
            {% ifequal request.user.id i.job.recruiter.user.id %}
            <tr style="color:white;background-color:cadetblue;text-align:center">
            
            <td>{{i.id}}</td>
            <td>{{i.student.user}}</td>
            <td>{{i.student.user.email}}</td>
            <td>{{i.student.mobile}}</td>
            <td>{{i.job.title}}</td>
            <td>{{i.job.company_name}}</td>
            <td>{{i.applydate}}</td>
            <td ><a href="{{i.resume.url}}" style="color:blue;">Download Resume</a></td>
            </tr>
            
            
          {% endifequal %}
          
          {%endfor%}
         
        </tbody>
      </table>
</div>


{%endblock%}